/*Global*/
section {
    background-color: #C1CFEA;
}

/*IDs*/
#map {
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

/*Classes*/
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 40px;
    right: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.gradient-lighter {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.rounded-custom {
    border-radius: 25px;
}

.text-xs {
    font-size: .5rem;
}